body { 
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2b/Bookshelf.jpg");
	margin: 0;
	font-family: helvetica;
}

.content { 
	margin: 16px;
	
}
.intro, .quote {     
	background-color: rgba(0, 0, 0, 0.73);
        padding: 10px;
        width: 50%;	   
	margin-bottom: 10px;
	color: lightyellow;
}	
.navbar {
	background-color: black;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header li {
	float: left;
}

.header li a {
	display: block;
	color: #a53939;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.block  { 
        background-color: rgba(0, 0, 0, 0.73);
        padding: 10px;
        width: 50%;	   
	margin-bottom: 10px;
	color: lightyellow;
	display:block;
	overflow:auto;
}	
.block img { 
	width:150px;
	display:block;
	margin:auto;
}

.block .text-block {
	float:left;	
	width: 50%;	
}

.intro {
	color:#a53939;

}	
